body {
	background: linear-gradient(-20deg, #D0DFE9, #416980);
	background-attachment: fixed;
}

.ActionsTable {
	max-width: 1170px;
	margin: 60px auto 0;
	background: #fff;
	box-shadow: 0px 5px 50px 0 rgba(0,0,0, .12);
	border-radius: 4px;
  overflow: hidden;
}

.ActionsTable .ant-table {
	font-size: 13px;
	font-weight: 700;
}

.ActionsTable .ant-table-small {
	border: none;
}

.ActionsTable .ant-table-small > .ant-table-content > .ant-table-body {
	margin: 0;
}

.ActionsTable .ant-table-row-level-0 {
	height: 42px;
}

.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td {
	padding: 6px 8px;
}

.ActionsTable--expandable .ant-table {
	font-size: 13px;
	font-weight: 400;
}

.ActionsTable--expandable .ant-table-row-level-0 {
	height: 32px;
}

.ActionsTable .ant-table-small tr.ant-table-expanded-row td > .ant-table-wrapper {
	margin: -8px -8px -6px -6px;
}
